// Breakpoints
$breakpoint_small: 600px;
$breakpoint_medium: 800px;
$breakpoint_large: 1200px;

// Layout
$container_width: 1200px;

// Base Colors
$base_light : #fafafa;
$base_dark: #444;
$base_medium: #aaa;

// Brand Colors
$brand_blue: #2592cc;
$brand_green: #54835F;
$brand_teal: #3D8C8E;
$brand_orange: #f27b07;
$brand_yellow: #C0A962;
$brand_red: #B35050;
$brand_pink: #C476AF;

// Other Colors
$label_color: $base_medium;
$link_color: $brand_blue;
$link_color_hover: darken($brand_blue, 30%);
$link_color_active: $brand_orange;

// Typography
$font_header: 'Roboto', sans-serif;
$font_body: 'Roboto', sans-serif;
$font_display: 'Roboto', sans-serif;
$font_monospace: Consolas, Monaco, 'Andale Mono', monospace;

%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
  }
}

%font_body {
  font-family: $font_body;
}

%font_header {
  font-family:  $font_header;
}

%font_display {
  font-family: $font_display;
}

.container {
  @extend %clearfix;
  clear: both;
  margin: 0 auto;
  max-width: $container_width;
  padding: 2rem 5%;
  position: relative;
}
