@import "constants";

.field {
  margin: 1.5rem 0 0 0;

  .file {
    border: 1px dashed #ddd;
    padding: 2rem;

    &:hover {
      background: #efefef;
      border-color: #aaa;
      cursor: pointer;
    }

    &.active {
      background: lighten($brand_green, 20%);
      border-color: $brand_green;
    }
  }
}

.input {
  &.string, &.email, &.file, &.text, &.password, &.integer, &.url, &.tel, &.search, &.uuid, &.float,
  &.decimal, &.range, &.datetime, &.date, &.time, &.select, &.image, &.radio_buttons >, &.check_boxes > {
    label {
      display: block;
      font-size: 1.6rem;
      padding: 1.5em 0 .5em;
    }

    img {
      margin: .5rem 0 1rem;
    }
  }
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"],
input[type="tel"], input[type="search"], input[type="uuid"], input[type="date"], textarea {
  @extend %font_body;
  background: #f9f9f9;
  box-sizing: border-box;
  color: $base_dark;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1.6rem;
  font-weight: 300;
  height: 4.1rem;
  width: 100%;
  padding: .75em;
}

textarea {
  min-height: 7rem;
}

input[type="submit"], .button, .buttons label {
  @extend %font_body;
  background: lighten($brand_blue, 10%);
  border: none;
  border-radius: .2rem;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, .7) !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .02em;
  line-height: 1;
  padding: 1em 1.25em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  vertical-align: middle;

  &.white, &.white label {
    background: rgba(255, 255, 255, 0.6);
  }

  &.black, &.black label {
    background: rgba(0, 0, 0, 0.6);

    &:hover {
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 1), inset 0 0 3px rgba(0, 0, 0, 1);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &.green, &.green label {
    background: lighten($brand_green, 10%);

    &:hover {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  &.yellow, &.yellow label {
    background: lighten($brand_yellow, 10%);

    &:hover {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }

  &.orange, &.orange label {
    background: lighten($brand_orange, 10%);
  }

  &.red, &.red label {
    background: lighten($brand_red, 10%);
  }

  &:hover {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1), inset 0 0 3px rgba(255, 255, 255, 1);
    color: #fff !important;
  }

  &:active {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1), inset 0 0 3px rgba(0, 0, 0, 0.5);
  }

  &.big {
    font-size: 1.8rem;
    padding: 1.25em 1.75em 1em;
  }

  &.small {
    font-size: 1.4rem;
  }

  &.mini {
    font-size: 1rem;
  }

  &.wide {
    padding-left: 4em;
    padding-right: 4em;
  }

  &.fluid {
    display: block;
    text-align: center;
    width: 100%;
  }

  &.right {
    float: right;
  }

  &.left {
    float: left;
  }
}

.input.file {
  input {
    padding-top: 1rem;
  }

  input::-webkit-file-upload-button {
    visibility: hidden;
  }

  input::before {
    @extend %font_header;
    -webkit-user-select: none;
    background: lighten($brand_blue, 10%);
    border: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.8);
    content: 'Select';
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    margin: -.75em 0 .5em;
    outline: none;
    padding: .5em 1em;
    text-transform: uppercase;
    white-space: nowrap;
  }

  input:hover::before {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1), inset 0 0 3px rgba(255, 255, 255, 0.8);
    color: #fff;
  }

  input:active {
    outline: 0;
  }

  input:active::before {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1), inset 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

.check, .input.boolean, check {
  margin: 3rem 0 1rem;
  position: relative;

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
  }

  label span {
    display: block;
    font-size: 1.6rem;
    margin: .0 0 0 4rem;
    white-space: nowrap;
  }

  &.toggle {
    background: $base_dark;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    height: 10px;
    width: 50px;

    label {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      transition: all .4s ease;
      cursor: pointer;
      position: absolute;
      top: -3px;
      left: -3px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      background: lighten($base_light, 5%);
    }

    input[type=checkbox]:checked + label {
      left: 37px;
    }
  }

  &.slide {
    background: $base_dark;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 80px;

    &:after {
      background: darken($base_dark, 10%);
      border-radius: 50px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
      content: '';
      height: 2px;
      left: 14px;
      position: absolute;
      top: 14px;
      width: 52px;
    }

    label {
      background: lighten($base_light, 5%);
      border-radius: 50px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: block;
      height: 22px;
      left: 4px;
      position: absolute;
      top: 4px;
      transition: all .4s ease;
      width: 22px;
      z-index: 1;

      &:after {
        background: $base_dark;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.9);
        content: '';
        height: 10px;
        left: 6px;
        position: absolute;
        top: 6px;
        width: 10px;
      }
    }

    input[type=checkbox]:checked + label {
      left: 54px;

      &:after {
        background: lighten($brand_blue, 20%);;
      }
    }
  }


  &.switch {
    background: $base_dark;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    height: 26px;
    width: 80px;

    &:before, &:after {
      @extend %font_header;
      font-size: 1.2rem;
      line-height: 2.2em;
      position: absolute;
      z-index: 0;
    }

    &:after {
      color: darken($base_dark, 15%);
      content: 'OFF';
      right: 1.5rem;
      text-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    }

    &:before {
      content: 'ON';
      color: lighten($brand_blue, 20%);
      left: 1.5rem;
      text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
    }

    label {
      background: lighten($base_light, 5%);
      border-radius: 50px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      display: block;
      height: 20px;
      left: 3px;
      position: absolute;
      top: 3px;
      transition: all .4s ease;
      width: 34px;
      z-index: 1;
    }

    input[type=checkbox]:checked + label {
      left: 43px;
    }
  }

  &.round, .radio {
    background: lighten($base_light, 5%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: 28px;
    width: 28px;

    &.solid, &.radio {
      label {
        background: -moz-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -ms-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -o-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -webkit-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: linear-gradient(top, $base_medium 0%, $base_dark 100%);
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99896F', endColorstr='#7C705F',GradientType=0 );
        height: 20px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 20px;

        &:after {
          background: lighten($brand_blue, 10%);
          border-radius: 50px;
          box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.6), 0px 1px 3px rgba(0, 0, 0, 0.5);
          content: '';
          height: 16px;
          left: 2px;
          opacity: 0;
          position: absolute;
          top: 2px;
          width: 16px;
        }

        &:hover::after {
          opacity: 0.3;
        }
      }

      input[type=checkbox]:checked + label:after, input[type=radio]:checked + label:after {
        opacity: 1;
      }
    }

    &.mark {
      label {
        background: -moz-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -ms-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -o-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -webkit-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: linear-gradient(top, $base_medium 0%, $base_dark 100%);
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$base_medium', endColorstr='$base_dark',GradientType=0 );
        height: 20px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 20px;

        &:after {
          -moz-transform: rotate(-45deg);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          background: transparent;
          border: 3px solid lighten($base_light, 5%);
          border-right: none;
          border-top: none;
          content: '';
          filter: alpha(opacity = 0);
          height: 5px;
          left: 4px;
          opacity: 0;
          position: absolute;
          top: 5px;
          transform: rotate(-45deg);
          width: 9px;
        }

        &:hover::after {
          opacity: 0.3;
        }
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
    }
  }

  &.square {
    background: lighten($base_light, 5%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: 28px;
    width: 28px;

    &.solid {
      label {
        background: -moz-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -ms-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -o-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -webkit-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: linear-gradient(top, $base_medium 0%, $base_dark 100%);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$base_medium', endColorstr='$base_dark',GradientType=0 );
        height: 20px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 20px;

        &:after {
          background: lighten($brand_blue, 10%);
          box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.6), 0px 1px 3px rgba(0, 0, 0, 0.5);
          content: '';
          filter: alpha(opacity = 0);
          height: 16px;
          left: 2px;
          opacity: 0;
          position: absolute;
          top: 2px;
          width: 16px;
        }

        &:hover::after {
          opacity: 0.3;
        }
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
    }

    &.mark {
      label {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 4px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
        background: -webkit-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -moz-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -o-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -ms-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: linear-gradient(top, $base_medium 0%, $base_dark 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$base_medium', endColorstr='$base_dark',GradientType=0 );

        &:after {
          background: transparent;
          border: 3px solid lighten($base_light, 5%);
          border-right: none;
          border-top: none;
          content: '';
          height: 5px;
          left: 4px;
          opacity: 0;
          position: absolute;
          top: 4px;
          width: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:hover::after {
          opacity: 0.3;
        }
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
    }
  }

  &.rounded {
    width: 20px;

    label {
      border-radius: 4px;
      cursor: pointer;
      height: 20px;
      position: absolute;
      top: 0;
      width: 20px;
    }

    &.dark {
      label {
        background: $base_medium;
        background: -moz-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -ms-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -o-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: -webkit-linear-gradient(top, $base_medium 0%, $base_dark 100%);
        background: linear-gradient(top, $base_medium 0%, $base_dark 100%);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);

        &:after {
          background: transparent;
          border: 3px solid lighten($base_light, 5%);
          border-right: none;
          border-top: none;
          content: '';
          height: 5px;
          left: 4px;
          opacity: 0;
          position: absolute;
          top: 4px;
          width: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:hover::after {
          opacity: 0.3;
        }
      }
      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
    }

    &.light {
      label {
        background: lighten($base_light, 5%);
        background: -webkit-linear-gradient(top, lighten($base_light, 5%) 0%, li 40%, $base_medium 100%);
        background: -moz-linear-gradient(top, lighten($base_light, 5%) 0%, li 40%, $base_medium 100%);
        background: -o-linear-gradient(top, lighten($base_light, 5%) 0%, li 40%, $base_medium 100%);
        background: -ms-linear-gradient(top, lighten($base_light, 5%) 0%, li 40%, $base_medium 100%);
        background: linear-gradient(top, lighten($base_light, 5%) 0%, li 40%, $base_medium 100%);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);

        &:after {
          background: transparent;
          border: 3px solid $base_dark;
          border-right: none;
          border-top: none;
          content: '';
          height: 5px;
          left: 4px;
          opacity: 0;
          position: absolute;
          top: 4px;
          width: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:hover::after {
          opacity: 0.5;
        }
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }
    }
  }

  &.buttons.group {
    display: inline;
    margin: 0;

    input {
      position: absolute;
    }

    input:checked + label {
      background-color: $base_dark;
    }

    label span {
      margin: 0;
    }
  }
}

check {
  display: block;
  margin: 0 0 1rem;
}

form, .form {
  input[type="submit"], .button {
    margin: 1.5rem 0 .5rem;
  }
}

.two.fields {
  @extend %clearfix;
  clear: both;

  > div.input, > .field {
    width: 48%;

    &:first-child {
      float: left;
    }


    &:last-child {
      float: right;
    }
  }
}

.three.fields {
  @extend %clearfix;

  > div.input, > .field {
    float: left;
    margin-right: 1%;
    width: 32.6%;

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGgAAABKCAQAAAD9cdkXAAACqUlEQVRo3u2av2/TQBTHI8FQCYYguoLCyOY/IQNk6NSF3RNzBmZ04oe/JwFSp0owtSNb/oT8B8mIBIioAyuWrA7pD4fns+vkzvZQ1+3lne57UoZXJfan79333ovT6zGTDGUsg0o0oGjY4yfCWdEykBROFg954hhIJQ4/pI0bL5E0HIryAgpMpGqEW9HpAAktzjg1SNxxGpH44hRIiYaTsMZxDsixknPMFKzaNgSEQwcrBtklMLDW+mBRV5lYtAaaqvdPrTWnGNYCDdtdOtq/+oRo39r4gEkFZ9LusqK/zjcWom9pwKOq1w0xbrsDILR/i7Bmit3cSG4H2icN7CEturIDDWhqD2jYnR1srm6t4XpIk5vYQff2b2oUjuJRxRRGAUXDph0Qt7eD2xbhrGgZSAoni4d31LJ0jGMglTjNSNuqjRsvkTQcivICCkykaoTZ+GAAJLQ449QgccdpROKLUyAlGk7CGsc5IMdKzjFTcMy2nTtY3Wt9XGtOW44PW490vQHPy8vLy8vLy2ubJfrRGHP6RjxVaxaNu31kdseipxdXj93SYq3kP4tPL24mhAqAMHApL+QFvRZQCHlmJ8/MGX7jtXz64Yl8K39hmUOyy5Loq2JLcYoDsVNCPpbfcKqyFDPbS9FYldpSftHjr+7JQ5xnWYrGrIDkLNs5+PnmQSV3OzhR+2jOC0jtn/os4F1uD+yAcPn+Wd3fPr4kz2MK9NwpoMaSkwxLrmh3foiHFVPYxYkCmnGz7fxQ/SruGx53zNK21cGaqoP1WOyWeXskv6uDdYUluyaVWh/V5OAcf+QnvIj28Bl/8+woyzji2JwWranWnK5/YsMPqRgf0o3hgYqNNVI24GVtUL4wzwY8HLFGqi1Gj8QNae4ckiPfCa2Req5I9XyNv1n+D6RKWo1cTsbTAAAAAElFTkSuQmCC) !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
